<h2>聊天室</h2>
<article class="chat">
  <table class="table table-bordered table-hover" id="chat">
    <thead>
      <tr class="warning">
        <th>發言人</th>
        <th>內容</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <form id="nickname">
    <input type="text" id="input" placeholder="請輸入暱稱，留白會自動指派">
    <button type="submit" class="btn btn-primary btn-sm" id="submit">加入聊天室</button>
  </form>
  <form id="message">
    <input type="text" id="input" placeholder="說些什麼吧！">
    <button type="submit" class="btn btn-primary btn-sm" id="submit">送出</button>
  </form>


</article>
