// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article{
  margin: 1%;
}
article.chat, article.posts {
  width: 48%;
  float: left;
  display: inline-block;
}
#message {
  display: none;
}
#nickname{
  input{
    width: 200px;
  }
}
p.flash{
  color: red;
}
